html, body{
    margin: 0px;
}
#container{
    width: 100vw;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.box1{
    width: 60%;
    height: 60%;
    background-color: #F17A97;
    animation:  box1 20 infinite;
    border-radius: 30px;
    filter: blur(70px);
}
.box2{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 40%;
    height: 60%;
    background-color: #F2D888;
    animation:  box1 17s infinite;
    border-radius: 30px;
    filter: blur(70px);
}
.box3{
    position: absolute;
    left: 40%;
    bottom: 0px;
    width: 20%;
    height: 100%;
    background-color: pink;
    animation:  box1 25s reverse infinite;
    border-radius: 30px;
    filter: blur(70px); 
}
#hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 40%;
    height: 40%;
    transform: translate(-50%,-50%);
}
#nav-container{
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 10;
    width: 100%;
}
#nav-container a{
    padding: 10px 10px 15px 10px;
    margin: 5px;
    text-decoration: none;
    color: black;
}
#nav-container a:hover{
    color:#F17A97;
    border-bottom: 2px solid black;
}
#nav-container #hero-link{
    margin-left: auto;
    width: 4em;
    height: 0.7em;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
}
#nav-container #hero-link:hover{
    background-color: black;
    color: white;
}
@keyframes box1 {
    0%   {transform: rotate(0deg)}
    25%  {transform: rotate(45deg) scale(2)}
    50%  {transform: rotate(90deg)}
    75%  {transform: rotate(180deg) scale(2)}
    100% {transform: rotate(360deg)}
}